
<ul class="nav navbar-nav">
    @* Hide for KMF *@
    <li><a href='@Url.Action("Search", "Prq", new { Area = "" })'>ใบสั่งซื้อ</a></li>
    <li class="hide"><a href='@Url.Action("Index", "Prq", new { Area = "" })'>หน้าแรก</a></li>

</ul>

