
<ul class="nav navbar-nav">
    <li class="dropdown">
        <a data-toggle="dropdown"
           data-target="#"
           href="#">
            จัดการ Admin
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">จัดการ Batch</a>
                <ul class="dropdown-menu">
                    @*<li><a href="/ADMIN/Batch/Index">Batch ใบตลาด</a></li>*@
                    <li><a href="/ADMIN/BatchHAVI/Index">Batch HAVI</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

