<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-ZEN.SaleAndTranfer.UI-20160906102306.mdf;Initial Catalog=aspnet-ZEN.SaleAndTranfer.UI-20160906102306;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--
    <add name="CONN_STR_DEF" connectionString="server=aws-dev2.zenho.com\SQL2017DEV;Initial Catalog=WebOrderDBKmf;persist security info=True;user id=sa;password=P@ssw0rd;" providerName="System.Data.SqlClient" />
    aws-dev2.zenho.com\SQL2017DEV
    ZCGIT-COM13\SQLEXPRESS2017
    -->
    <add name="CONN_STR_DEF" connectionString="server=aws-dev.zenho.com\SQL2017DEV;Initial Catalog=WebOrderDBKmf;persist security info=True;user id=sa;password=zen12345;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="CONN_STR_DEF_HAVI" connectionString="server=XXX__10.10.8.100\SQL100PRD2;Initial Catalog=Dev_HAVI_InterfaceDB;persist security info=True;user id=sa;password=XXX__Passw0rd@1;" providerName="System.Data.SqlClient" />
    <add name="CONN_STR_DEF_STAGING" connectionString="server=XXX__staging;Initial Catalog=ExpNAVISIONDB;persist security info=True;user id=sa;password=XXX__Passw0rd@1;" providerName="System.Data.SqlClient" />
    <add name="MainEntities" connectionString="metadata=res://*/Models.MainModel.csdl|res://*/Models.MainModel.ssdl|res://*/Models.MainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=aws-dev2.zenho.com\SQL2017DEV; initial catalog=WebOrderDBKmf;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CULTER_INFO_DateSeparator" value="/" />
    <add key="CULTER_INFO_ShortDatePattern" value="dd/MM/yyyy" />
    <add key="CULTER_INFO_ShortDatePattern_0" value="{0:dd/MM/yyyy}" />
    <add key="CULTER_INFO_FullDateTimePattern" value="dd/MM/yyyy HH:mm:ss" />
    <add key="CULTER_INFO_ShortDatePattern_Datepicker" value="dd/mm/yyyy" />
    <add key="CULTER_INFO_Culture_Thread" value="en-US" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <sessionState timeout="20">
    </sessionState>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="20971520" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILogService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://test-zencommonws.zengroup.co.th/LogService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogService" contract="LogWs.ILogService" name="BasicHttpBinding_ILogService" />
    </client>
  </system.serviceModel>
</configuration>